@import "tailwindcss";

@theme {
  --color-primary-50: #f5f6fa;
  --color-primary-100: #0097e6;
  --color-primary-200: #0075b4;
  --color-primary-300: #005482;

  --font-sans: "DM Sans", sans-serif;
}

body {
  @apply font-sans;
  @apply bg-[#F8F9FA]
}

@keyframes slide-in {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
